
section {
    margin: 10px auto;
    max-width: 780px;
    min-height: 40vh;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px rgba(0,0,0,.15);
}
footer {
    max-width: 780px;
    margin: 0 auto;
}
article {
    margin: 10px;
}
table {
    margin: 0 auto;
}
p {
    color: gray;
}
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
ul {
    margin: 10px;
}
li {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
a {
    text-decoration: none;
}
input, span, button {
    line-height: 1.5em;
    font-size: 1em;
}
.btn {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}
.primary {
    color: white;
    background-color: #5982FF;
}
.primary:hover {
    background-color: #3A79FF;
}
.secundary {
    background-color:white;
}
.secundary:hover {
    color: white;
    background-color: #FF4C38;
}
.card {
    margin-right: 20px;
}
.card span {
    padding: 5px;
    background-color: #5982FF;
    color: white;
    border-radius: 5px 0px 0px 5px;
}
.card, .card-discount-item {
    margin-top: 10px;
}
.card div input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid gray;
    padding-left: 5px;
}
.card-discounts div input {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}
.card-discount-item span {
    padding: 5px;
    text-align: center;
    background-color: #FF4C38;
    color: white;
    border-radius: 5px 0px 0px 5px;
}
.card-discount-item input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid gray;
    padding: 5px;
}
.card-discount-item .remove-item {
    padding: 2px;
    margin-left: 5px;
    text-align: center;
    vertical-align: middle;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    margin-top: 50px;
}
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    color: gray;
}
.table th {
    text-align: left;
}
.table td.add-value-table {
    color: #5982FF;
}
.table td.discount-table {
    color: #FF4C38;
}
.add-discount-mobile {
    display: none;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .card {
        width: 90%;
    }
    .add-discount-mobile {
        display: flex;
        align-items: center;
        margin-left: 5px;
    }
    .add-discount {
        display: none;
    }
}
@media only screen and (max-width: 450px) {
    .btn {
        width: 100%;
    }
    article, .card {
        width: 100%;
    }
    .card {
        margin-right: 0;
    }
    section {
        border: none;
        box-shadow: none;
    }
}
  