* {
    margin: 0;
    padding: 0;
}
.dflex-row, .dflex-column {
    display: flex;
    flex-wrap: wrap;
}
.dflex-row {
    flex-direction: row;
}
.dflex-column {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.col-1 {
    width: 10%;
}
.col-2 {
    width: 20%;
}
.col-3 {
    width: 30%;
}
.col-4 {
    width: 40%;
}
.col-5 {
    width: 50%;
}
.col-6 {
    width: 60%;
}
.col-7 {
    width: 70%;
}
.col-8 {
    width: 80%;
}
.col-9 {
    width: 90%;
}
.col-10 {
    width: 100%;
}
body {
    width: 100%;
}
